
   <div class="login-container">
    <form [formGroup]="firstFormGroup">
      <mat-form-field>
        <mat-label>Benutzer</mat-label>
        <input formControlName="firstCtrl" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input formControlName="secondCtrl" matInput [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <form (ngSubmit)="userLogin()">
        <button mat-raised-button type="submit">Einloggen</button>
      </form>
    </form>
    
  </div>