<mat-stepper #stepper >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Name des Artikels</ng-template>
        <mat-form-field>
          <mat-label>Artikel</mat-label>
          <input matInput placeholder="Artikel" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Kategorie des Artikels</ng-template>
          <mat-form-field class="example-full-width">
            <mat-label>Number</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              @for (option of kategorie; track option) {
                <mat-option [value]="option.k_name">{{option.k_name}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Zurück</button>
            <button mat-button matStepperNext>Weiter</button>
          </div>
        </form>
      </mat-step>
      
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Gebinde des Artikels</ng-template>
          <mat-form-field>
            <mat-label>Gebinde</mat-label>
            <input matInput placeholder="Gebinde" formControlName="thirdCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button >Artikel hinzufügen</button>
          </div>
        </form>
      </mat-step>
  </mat-stepper>
  