<div class="main-container">
    <div class="left-container">
      <div class="tag-container">
        <mat-card>
          <mat-card-content>
            <mat-chip-set aria-label="Fish selection">
              <mat-chip>Kat 1</mat-chip>
              <mat-chip>Kat 2</mat-chip>
              <mat-chip>Kat 3</mat-chip>
              <mat-chip>Kat 4</mat-chip>
            </mat-chip-set>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="middle-container">
      <table mat-table [dataSource]="artikel" class="main-table">
        <!-- Position Column -->
        <ng-container matColumnDef="a_nr">
          <th mat-header-cell *matHeaderCellDef> Nr. </th>
          <td mat-cell *matCellDef="let element"> {{element.a_nr}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="artikel">
          <th mat-header-cell *matHeaderCellDef> Artikel </th>
          <td mat-cell *matCellDef="let element"> {{element.artikel}} </td>
        </ng-container>
        
        <!-- Kategorie Column -->
        <ng-container matColumnDef="kategorie">
          <th mat-header-cell *matHeaderCellDef> Kategorie </th>
          <td mat-cell *matCellDef="let element"> {{element.kategorie}} </td>
        </ng-container>
        
        <!-- Anzahl Column -->
        <ng-container matColumnDef="anzahl">
          <th mat-header-cell *matHeaderCellDef> Anzahl </th>
          <td mat-cell *matCellDef="let element"> {{element.anzahl}} </td>
        </ng-container>
          
        <!-- Gebinde Column -->
        <ng-container matColumnDef="gebinde">
          <th mat-header-cell *matHeaderCellDef> Gebinde </th>
          <td mat-cell *matCellDef="let element"> {{element.gebinde}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- <section>
        <div class="example-button-row">
          <button mat-flat-button (click)="addNewRow()">Artikel erstellen</button>
        </div>
      </section> -->
      <!-- <form>
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            @for (food of foods; track food) {
              <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form> -->
    </div>
      
    <div class="right-container">
      <div class="list-container">
        <h3>Kategorie</h3>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Arktikel 1</span>
            <span matListItemLine>Anzahl</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Arktikel 2</span>
            <span matListItemLine>Anzahl</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Arktikel 3</span>
            <span matListItemLine>Anzahl</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
