/* You can add global styles to this file, and also import other style files */
header {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Roboto Light */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Roboto Light */
    min-height: 100vh; /* Ensure body is at least 100% of viewport height */
}
.my-outlined-dialog{
    height: 230px;
    width: 250px;
}
.my-artikel-erstellen{
    width: 120px;
}
