<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Name des Artikels</ng-template>
        <mat-form-field>
          <mat-label>Artikel Name</mat-label>
          <input matInput placeholder="Artikel" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Kategorie des Artikels</ng-template>
          <mat-form-field >
            <mat-label>Kategorie</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let tag of kategorie | async" [value]="tag.k_id">
                {{tag.k_name}}
              </mat-option>
            </mat-select>
              
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Zurück</button>
            <button mat-button matStepperNext>Weiter</button>
          </div>
        </form>
      </mat-step>
      
    
    <mat-step>
      <ng-template matStepLabel>Fertig</ng-template>
      <p>Placeholder</p>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button (click)="stepper.reset()">Artikel hinzufügen</button>
      </div>
    </mat-step>
  </mat-stepper>
  