body{
    background-color: white;
    color: white;
}
.mat-stepper-vertical {
    margin-top: 8px;
    background-color: white;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
    background-color: white;
  }